
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.overlay-gray::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as desired */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 250vh;
 
}
